<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client-Server Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../styles.css">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    <script src="../script.js" defer></script>
</head>
<body>
    <h1>Client-Server Application JWT</h1>
    <div class="container">
        <div class="column">
            <h2>Server</h2>
            <button onclick="startServer()">Start Server</button>
            <button onclick="stopServer()">Stop Server</button>
            <pre id="server-log" class="log"></pre>
        </div>
        <div class="column">
            <h2>Client</h2>
            <button onclick="startClient()">Start Client</button>
            <button onclick="stopClient()">Stop Client</button>
            <button onclick="sendMessage()">Send Message</button>
            <pre id="client-log" class="log"></pre>
        </div>
        <div class="column">
            <h2>Token Parser</h2>
            <input type="text" id="token-input" placeholder="Enter JWT token">
            <button onclick="parseToken()">Token Verify</button>
            <pre id="token-log" class="log"></pre>
        </div>
    </div>
</body>
</html>